body {
    background-color: #6f9e7b;
}

.nav {
    height: 6vh;
}

.nav-header {
    font-size: 18px;
}

.container-fluid {
    height: 85vh;
}

.book-tile {
    background-color: #D9D9D9;
    height: 83vh;
    border-radius: 20px;
    filter: drop-shadow(5px 0px 10px black)
}

.book-image {
    height: 40vh;
    background-color: black;
    border-radius: 20px;
}

.book-title {
    height: 5vh;
}

.book-rating {
    height: 5vh;
}

.description {
    font-size: 14px;
    height: 18vh;
}

.edit-icons {
    height: 24px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.edit-icons:hover {
    height: 30px;
    transition: all 0.25s ease-in-out;
}