body {
    background-color: #ADE5C1;
}

.nav {
    height: 8vh;
}

.nav-icons {
    height: 5vh;
}

.nav-subheader {
    height: 3vh;
}

.book-owner {
    height: 50px;
}

.book-owner h4 {
    font-size: 20px;
}

.header-icons {
    cursor: pointer;
    width: 24px;
    width: 24px;
    transition: all 0.25s ease-in-out;
}

.header-icons:hover {
    height: 24px;
    width: 24px;
    transition: all 0.25s ease-in-out;
}

.icon-subheader {
    font-size: 10px;
}

.subheader-switch-user {
    color: #ADE5C1;
    transition: all 0.25s ease-in-out;
}

.subheader-new-review {
    color: #ADE5C1;
    transition: all 0.25s ease-in-out;
}

.icon-switch-user:hover + .subheader-switch-user {
    color: black;
    transition: all 0.25s ease-in-out;
}

.icon-new-review:hover + .subheader-new-review {
    color: black;
    transition: all 0.25s ease-in-out;
}

.book-review {
    cursor: pointer;
    background-color: #3F5A49;
    height: 35vh;
    min-width: 200px;
    transition: all 0.25s ease-in-out;
}

.book-review:hover {
    box-shadow: 4px 4px 48px rgba(0,0,0);
    height: 36vh;
    transition: all 0.25s ease-in-out;
}

.book-image {
    height: 90%;
    background-color: black;
    border-radius: 20px;
}

.book-title {
    color: white;
    font-size: 14px;
}

.book-rating {
    color: white;
    font-size: 13px;
}

.book-description {
    color: white;
    font-size: 10px;
}

.edit-icons {
    cursor: pointer;
    height: 20px;
    width: 20px;
    fill: white;
    transition: all 0.25s ease-in-out;
}

.edit-icons:hover {
    height: 24px;
    width: 24px;
    transition: all 0.25s ease-in-out;
}


@media screen and (min-width: 750px) {
    .header-icons {
        cursor: pointer;
        width: 32px;
        width: 32px;
        transition: all 0.25s ease-in-out;
    }
    
    .header-icons:hover {
        height: 36px;
        width: 36px;
        transition: all 0.25s ease-in-out;
    }
    
    .icon-subheader {
        font-size: 10px;
    }

    .book-owner h4 {
        font-size: 30px;
    }

    .book-title {
        font-size: 26px;
    }
    
    .book-rating {
        font-size: 15px;
    }
    
    .book-description {
        font-size: 20px;
    }
    
    .edit-icons {
        height: 25px;
        width: 25px;
        transition: all 0.25s ease-in-out;
    }
    
    .edit-icons:hover {
        height: 30px;
        width: 30px;
        transition: all 0.25s ease-in-out;
    }

    
}

@media screen and (min-width: 750px) {
    .header-icons {
        cursor: pointer;
        width: 45px;
        width: 45px;
        transition: all 0.25s ease-in-out;
    }
    
    .header-icons:hover {
        height: 50px;
        width: 50px;
        transition: all 0.25s ease-in-out;
    }
    
    .icon-subheader {
        font-size: 25px;
    }

    .book-owner h4 {
        font-size: 50px;
    }

    .book-title {
        font-size: 35px;
    }
    
    .book-rating {
        font-size: 33px;
    }
    
    .book-description {
        font-size: 29px;
    }

    .edit-icons {
        cursor: pointer;
        height: 35px;
        width: 35px;
        transition: all 0.25s ease-in-out;
    }
    
    .edit-icons:hover {
        height: 40px;
        width: 40px;
        transition: all 0.25s ease-in-out;
    }
}


/* ----styling for select users -------- */

.select-users {
    height: 100vh;
}

.user-profile {
    height: 10vh;
    min-height: 100px;
    /* max-height: 200px; */
    background-color: #D9D9D9;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.user-profile:hover {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    transition: all 0.25s ease-in-out;
}

.user-icon {
    border-radius: 50%;
    background-color: white;
    width: 100px;
    max-width: 150px;
    height: 100px;
    margin-left: 10px;
}

.add-user {
    cursor: pointer;
    height: 10vh;
    width: 75px;
}

@media screen and (min-width: 750px) {
    .user-profile p {
        font-size: 24px;
    }
    
    .user-icon p {
        font-size: 24px;
    }
}

@media screen and (min-width: 1000px) {
    .user-profile p {
        font-size: 36px;
    }
    
    .user-icon p {
        font-size: 24px;
    }
}
